text {
  font: 14px Verdana;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.group-label {
  font-weight: normal;
  text-anchor: end;
}

form {
  position: absolute;
  right: 10px;
  top: 0px;
}